.header{
    padding-left: 59px;
    padding-top: 36px;
    height: 85px;
    width: 1351px;
    display: flex;
}
.header2{
height: 28px;
width: 563,61px;
display: flex;
padding-left: 342px;
;
padding-top: 28px;
}
.solutions{
    padding-right: 30px;
    color: white;
}
.DEVELOPERS{
    padding-right: 30px;
    color: white;
}
.COSTUMERS{
    padding-right: 30px;
    color: white;
}
.BLOG{
    padding-right: 30px;
    color: white;
}
.login{
padding-left: 245px;
padding-right: 29px;
padding-top: 23px;
color: white;
}
.signup{
padding-left: 56px;
height: 43px;
width: 122px;
background-color: crimson;
padding-top: 23px;
padding-inline-start: 8px;
border-radius: 30px;
}
.signup:hover{
   background-color: #0a2244;
    cursor: pointer;
}

/* ჰედერის კოდები ზემოთა ნაწილი */










/*main1-ის კოდები*/

.main{
    height: 526px;
    width: 952px;
    padding-top: 62px;
}
.smallbox{
    width: 293px;
    height: 24px;
    border: 2px solid rgb(240, 31, 31);
    border-radius: 20px;
    inline-size: 293px;
    color: white;
}
.h12{
    width: 500px;
    height: 92px;
    font-size: 35px;
}
.smalltext{
    color: gray;
    padding-top: 73px;
}








/*main2-ის კოდები*/

.main2{
    height: 623px;
    width: 1284px;
    margin-top: 200px;
    margin-left: 77px;
    display: flex;
    }

    .title{
        width: 678px;
        height: 226px;
        color: white;
    }
    .curcle{
        width: 163px;
        height: 24px;
        border: 2px solid red;
        border-radius: 20px;
        color: white;
    }

    .text1{
        padding-top: 50.89px;
    }

    .text2{
        padding-top: 50px;
    }

    .img2{
        padding-left: 234px;
    }
    





/** main3-ის კოდები**/

    .main3{
        width: 1339px;
        height: 939px;
        padding-left: 50px;
        padding-top: 51px;
    }

    .smallbox1{
        height: 24px;
        width: 166px;
        font-size: 15px;
        color:white;
        border: 2px solid #E03F3F;
        border-radius: 20px;
    }

    .bigtext{
        color: white;
        font-size: 79px;
    }




/*პირველი სურათის*/
    .img3{
        height: 540px;
        width: 410px;
        border-radius: 25px;
        margin-top: 100px;
        background-color: #031c3f;
    }
.img31{
    width: 370px;
    height: 406px;
    padding-top: 22px;
    margin-top: 22px;    
}
.img32{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    font-size: 20px;
     color: hsla(222, 13%, 65%, 1);
}
.img33{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;
    margin-right: 20px;
    margin-top: 5px;
}
/*მეორე სურათის კოდები*/
.smallbox2{
    background-color: #031c3f;
    height: 540px;
    width: 410px;
    border-radius: 25px;
    margin-left: 50px;
    margin-top: 55px;
}
.smallbox21{
padding-top: 22px;
}
.img42{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;
    margin-right: 20px;
    margin-top: 5px;
}
.img43{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    font-size: 20px;
     color: hsla(222, 13%, 65%, 1);
}
/*მესამე სურათის კოდები*/
.img5{
    background-color: #031c3f;
    height: 540px;
    width: 410px;
    border-radius: 25px;
    margin-left: 55px;
    margin-top: 100px;
}
.img51{
    padding-top: 22px;
}
.img52{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    font-size: 20px;
     color: hsla(222, 13%, 65%, 1);
}
.img53{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: red;
    margin-right: 20px;
    margin-top: 5px;
}

/*main-ის კოდები*/

.main4{
    height: 899px;
    padding-top: 68px;
    background-color:  hsla(215, 46%, 19%, 0.3);
    background-image: url(Group\ 379.png);
}
.img4{
    display: flex;
}
.img41{
    margin-left: 275px;
}
.smallbox3{
    width: 163px;
    height: 24px;
    border-radius: 20px;
    border: 2px solid hsla(0, 72%, 56%, 1);
    margin-left: 525px;
    margin-top: 100px;
    color: white;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0.03em;
    text-align: center;   
}
.text3{
    font-family: Inter;
    font-size: 75px;
    font-weight: 700;
    line-height: 92px;
    text-align: right;
    color: white;
}
.text31{
    font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 30px;
text-align: right;
color: hsla(198, 16%, 75%, 1);
letter-spacing: 0.01em;
padding-top: 43px;
}

.smallbox4{
    width: 175px;
    height: 23px;
    color:  hsla(0, 72%, 56%, 1);
    margin-top: 27px;
font-family: Inter;
font-size: 12px;
font-weight: 600;
line-height: 22.8px;
letter-spacing: 0.05em;
text-align: center;
}


.main5{
    margin-top: 112px;
    height: 397px;    
}
.smallbox5{
    width: 444px;
    height: 24px;
    border: 2px solid hsla(0, 72%, 56%, 1);
    color: hsla(0, 0%, 100%, 1);
    font-size: 12px;
    border-radius: 20px;
}
.p1{
    font-family: Inter;
font-size: 79px;
font-weight: 700;
line-height: 92px;
text-align: center;
color: hsla(0, 0%, 100%, 1);
margin-top: 10px ;
}

.surati--{
    padding-inline: 50px;
}
.smallbox7{
    color: red;
    width: 196px;
height: 23px;
font-family: Inter;
font-size: 18px;
margin-top: 100px;
}

/*main6's code*/

.main6{
  height: 829px;
  width: 1356px;  
  border: 2px saddlebrown;
 
}
.main61{
    height: 829px;
    width: 1356px;  
    margin-top: 112px;
    border: 2px saddlebrown;
    background: url(imigs/surati7.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right; 
}
.bigbox1{
    width: 637px;
    height: 540px;
    display: flex;
    flex-direction: column;
    margin-right: 719px;
    
}
.smallbox8{
    color: white;
    font-family: Inter;
font-size: 12px;
line-height: 0px;
letter-spacing: 0.03em;
border: 2px solid hsla(0, 72%, 56%, 1);
height: 24px;
width: 180px;
border-radius: 20px;
margin-top: 105px;
box-shadow: 5px 5px 10px rgba(0, 72%, 56%, 1);
;
}

.bigtext3{
    color: hsla(0, 0%, 100%, 1);
    font-family: Inter;
font-size: 71px;
font-weight: 700;
line-height: 92px;
text-align: left;

width: 446px;
height: 184px;
top: 160px;
margin-top: 31px;
}
.bigtext4{
    color: hsla(198, 16%, 75%, 1);
    text-align: left;
    margin-top: 31px;
    font-family: Inter;
font-size: 20px;
line-height: 30px;
}
.surati6{
    padding-left: 10%;
width: 719px;
height: 720px;
margin-top: 100%;
}
.smalltext10{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 22.8px;
    letter-spacing: 0.05em;
    padding-left: 100%;
    width: 103px;
height: 23px;
margin-top: 300px;
color:hsla(0, 72%, 56%, 1);
}


.main7{
width: 1339px;
height: 447px;
margin-top: 190px;
border-radius: 40px;
background-color: #0a2244 ;
filter: blur(0.1);
z-index: -1;
}

.smallbox9{
border: 2px solid hsla(0, 72%, 56%, 1);
width: 242px;
height: 24px;
color: white;
border-radius: 20px;
}
.bigtext5{
    font-family: Inter;
font-size: 73px;
font-weight: 700;
line-height: 92px;
text-align: center;
color: hsla(0, 0%, 100%, 1);
padding-top: 18px;
}
.bigtext6{
    font-family: Inter;
font-size: 25px;
font-weight: 400;
line-height: 32px;
letter-spacing: -0.14000000059604645px;
text-align: center;
color: hsla(222, 13%, 65%, 1);
padding-top: 17px;
line-height: 40px;
}
.smallbox10{
    height: 43px;
    width: 276px;
    border-radius: 20px;
    font-family: Inter;
    color: white;
font-size: 20px;
font-weight: 500;
line-height: 28.5px;
letter-spacing: 0.05em;
background-color: hsla(0, 72%, 56%, 1);
padding-top: 7px;
margin-top: 30px;
}


.footer{
    width: 1200px;
    height: 546px;
    margin-right: 100px;
    margin-top: 112px;
}
.surati7{
margin-right: 169px;
margin-top: 235px;
height: 57px;
width: 66px;
}
.smallbox11{
    color: white;
    height: 405px;
    width: 227px;
    padding-right: 130px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.h3{
    letter-spacing: 0.2em;
}
.h4{
    font-size: 11px;
    color:  hsla(217, 16%, 68%, 1);
}
.smallbox12{
    color: white;
    height: 405px;
    width: 227px;
    padding-right: 130px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.smallbox13{
    color: white;
    height: 405px;
    width: 227px;
    padding-right: 130px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.smallbox14{
    color: white;
    height: 405px;
    width: 227px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.smallbox15{
    display: flex;
    flex-direction: row;
    height: 28px;
    width: 470px;
    padding-right: 100px;
}
.p2{
    color: hsla(222, 13%, 65%, 1);
    padding-inline: 17px;
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 11px;
letter-spacing: 0.03em;
text-align: left;
}
.smallbox16{
    height: 28px;
    width: 470px;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    padding-left: 200px;
    
}
.img6{
padding: 0px 3.52px 10.39px 85.7px;
}

.background{
    background-image: url(imigs/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 270px 150px ;
}